.credentials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data,
.virketrang,
.cp {
    font-size: 0.75rem;
    text-align: center;
    padding-inline: 1rem;
}

.virketrang {
    margin-top: 0.5rem;
}

@media screen and (max-width: 580px) {
    .data {
        display: none;
    }
}
