---
import {Button, Typography, Form, Field, Label, Input} from 'resolut'
import AuthenticationLayout from "@/nexus/client/layouts/auth.astro";
---
<AuthenticationLayout title="Nexus - opret virksomhed" greeting="Velkommen" back="/authentication/signup/business/owners">
    <Typography id="question" component='p' variant="paragraph1">Udfyld nedenstående om $name</Typography>
    <Form grid columns="repeat(4, 1fr)" rows="repeat(2, 1fr)" padding='2rem 0' width="32rem" gap="2rem">
        <Field column="span-all" row={1}>
            <Label htmlFor='private-email'>Privat e-mail</Label>
            <Input name="private-email" stretch/>
        </Field>
        <Field column="span-all" row={2}>
            <Label htmlFor='private-phone'>Privat telefonummer</Label>
            <Input name="private-phone" stretch/>
        </Field>
    </Form>
    <Button href="/authentication/signup/business/owners" size="large" width="32rem" transition:name='primary-button'>
        Næste
    </Button>
</AuthenticationLayout>
<script>
    import {$CreateCompany} from '@/nexus/client/stores'

    document.addEventListener("astro:page-load", () => {
        const name = `${$CreateCompany.store.get().owners[0].firstname} ${$CreateCompany.store.get().owners[0].surname}`;
        const question = document.getElementById("question") as (HTMLParagraphElement | undefined);

        if (!question) return;

        console.log($CreateCompany.store.get());
        console.log(name);

        question.innerText = question.innerText.replace('$name', name);
    })
</script>