---
import { Button, Form, Field, Label, Select, Text } from '@resolut/react'
import AuthenticationLayout from '@/nexus/client/layouts/auth.astro'

import Enum from '@/enums/index'

const options = [
    { value: Enum.CORPORATE_FORM.ENKELTMANDSVIRKSOMHED, name: Enum.CORPORATE_FORM.ENKELTMANDSVIRKSOMHED },
    { value: Enum.CORPORATE_FORM.INTERESSENTSKAB, name: Enum.CORPORATE_FORM.INTERESSENTSKAB },
    { value: Enum.CORPORATE_FORM.ANPARTSSELSKAB, name: Enum.CORPORATE_FORM.ANPARTSSELSKAB },
    { value: Enum.CORPORATE_FORM.AKTIESELSKAB, name: Enum.CORPORATE_FORM.AKTIESELSKAB },
    { value: Enum.CORPORATE_FORM.KOMMANDITSELSKAB, name: Enum.CORPORATE_FORM.KOMMANDITSELSKAB }
]

const TITLE = 'Nexus - opret medarbejder'
const NEXT = '/authentication/signup/business/owners'
const BACK = '/authentication/signup/employee/contacts'
---

<AuthenticationLayout title={TITLE} greeting="Velkommen" back={BACK}>
    <Form grid columns="repeat(4, 1fr)" rows="repeat(2, 1fr)" padding="2rem 0" width="32rem" gap="2rem">
        <Field flex vertical gap="0.5rem" column="span-all" row={1}>
            <Label htmlFor="companyName" required>Virksomhedsnavn</Label>
            <Text elevated name="companyName" stretch />
        </Field>
        <Field flex vertical gap="0.5rem" column="1 / 4" row={2}>
            <Label htmlFor="corporateForm" required>Selskabstype</Label>
            <Select elevated {options} name="corporateForm" stretch />
        </Field>
        <Field flex vertical gap="0.5rem" column="4 / 5" row={2}>
            <Label htmlFor="companyNumber" required>CVR</Label>
            <Text elevated name="companyNumber" stretch />
        </Field>
    </Form>
    <Button href={NEXT} width="32rem" transition:name="primary-button">Næste</Button>
</AuthenticationLayout>
<script>
    import { $CreateCompany } from '@/nexus/client/stores'

    document.addEventListener('astro:page-load', () => {
        const companyName = document.getElementById('companyName') as HTMLInputElement
        const corporateForm = document.getElementById('corporateForm') as HTMLSelectElement
        const companyNumber = document.getElementById('companyNumber') as HTMLInputElement

        if (!companyName || !corporateForm || !companyNumber) return

        companyName.value = $CreateCompany.store.get().companyName
        corporateForm.value = $CreateCompany.store.get().corporateForm
        companyNumber.value = $CreateCompany.store.get().companyNumber

        companyName.addEventListener('input', (event) => {
            const target = event.target as HTMLInputElement
            $CreateCompany.mutate('companyName', target.value)
        })

        corporateForm.addEventListener('input', (event) => {
            const target = event.target as HTMLSelectElement
            $CreateCompany.mutate(
                'corporateForm',
                corporateForm.options[target.selectedIndex].value as Workspace.Enum.CORPORATE_FORM
            )
        })

        companyNumber.addEventListener('input', (event) => {
            const target = event.target as HTMLInputElement
            $CreateCompany.mutate('companyNumber', target.value)
        })
    })
</script>
