# OUTPUT DIRECTORIES
dist
.build

# DEPENDENCIES
node_modules

# BUNDLER
.parcel-cache/

# CSS PREPROCESSOR
.sass-cache/

# FRAMEWORKS
.next
.expo

# PACKAGE MANAGER
pnpm-lock.yaml

# LOGS
*.log

# OTHER
coverage