# CSS PREPROCESSOR
.sass-cache/

# FINDER
.DS_Store

# MODULE BUNDLER
.parcel-cache

# PRIVATE
private

# TESTING
coverage

# FRAMEWORKS
.next
.vercel
.expo

# PACKAGE MANAGER
.npmrc
pnpm-lock.yaml
pnpm-debug.log*

# DEPENDENCIES
node_modules

# FIREBASE
firebase.ts
firebase.js

# ENVIRONMENT VARIABLES
.env
.env.development
.env.production
.env.locals

# OUTPUT DIRECTORIES
dist
.build
out
build
out-tsc

# OTHER
tmp
logs
*.log
.project

# TYPESCRIPT
*.tsbuildinfo
