# CSS PREPROCESSOR
.sass-cache/

# FINDER
.DS_Store

# MODULE BUNDLER
.parcel-cache

# PRIVATE
private

# FRAMEWORKS
.next
.expo

# PACKAGE MANAGER
.npmrc
pnpm-lock.yaml
pnpm-debug.log*

# DEPENDENCIES
node_modules

# ENVIRONMENT VARIABLES
.env
.env.development
.env.production
.env.locals

# OUTPUT DIRECTORIES
dist
.build

# OTHER
tmp
out-tsc
logs
*.log
.project
coverage
