# FINDER
.DS_Store

# PRIVATE
private

# TESTING
coverage

# FRAMEWORKS
.next
.vercel
.expo

# PACKAGE MANAGER
.npmrc
pnpm-lock.yaml
pnpm-debug.log*

# DEPENDENCIES
node_modules

# ENVIRONMENT VARIABLES
.env
.env.development
.env.production
.env.locals

# OUTPUT DIRECTORIES
dist
dist-src
.build
out
build
out-tsc

# OTHER
tmp
logs
*.log
.project

# TYPESCRIPT
*.tsbuildinfo
next-env.d.ts
