# CSS PREPROCESSOR
.sass-cache/

# FINDER
.DS_Store

# MODULE BUNDLER
.parcel-cache

# TESTING
coverage

# FRAMEWORKS
.next
.vercel
.expo

# PACKAGE MANAGER
.npmrc
pnpm-lock.yaml
pnpm-debug.log*

# DEPENDENCIES
node_modules

# OUTPUT DIRECTORIES
dist
.build
out
build
out-tsc

# TYPESCRIPT
*.tsbuildinfo

# OTHER
tmp
logs
*.log
.project
