*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html {
    text-size-adjust: none;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior-y: none;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    font: inherit;
    text-align: center;
}

a,
button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

ul {
    list-style: none;
}

img,
svg,
video {
    display: block;
    max-width: 100%;
}

button,
select {
    font: inherit;
}

select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1.5em 1.5em;
    border-radius: 0;
}

select,
input {
    padding-inline: 1rem;
}

button,
a,
select {
    cursor: pointer;
}

dialog,
input,
button,
textarea,
select,
input[type='file']::file-selector-button {
    border: none;
    font-family: inherit;
}
