.header
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    height: 6em
    padding-inline: 2em

    &::after
        position: absolute
        bottom: 0
        left: 1em
        content: ''
        width: calc(100% - 2em)
        height: 1px
        background: #c1c1c1