---
import { slide } from 'astro:transitions'
import { Heading, Link, Main, Div } from '@resolut/solid'

import { Logo } from '@/nexus/client/components/index'
import GlobalLayout from '@/nexus/client/layouts/global.astro'

const { title, greeting, back } = Astro.props
---

<GlobalLayout {title}>
    <Main
        width="100%"
        minHeight="100vh"
        flex
        vertical
        center
        padding="4rem 0"
        transition:animate={slide({ duration: '0.5s' })}
        transition:name="page"
    >
        <Div flex vertical align:center gap="3rem" margin="0 0 4rem 0" transition:name="logo-wrapper">
            <Logo transition:name="logo" />
            <Heading medium>{greeting}</Heading>
        </Div>
        <slot />
        <Link href={back} transition:name="back" margin="1.5rem 0 0 0" underline>Tilbage</Link>
    </Main>
</GlobalLayout>
