---
import { slide } from 'astro:transitions'

import { Logo } from '@/nexus/client/components/index'
import GlobalLayout from '@/nexus/client/layouts/global.astro'

const { title, greeting, back } = Astro.props
---

<GlobalLayout {title}>
    <main
        w-full
        min-h-screen
        flex
        flex-column
        flex-center
        style="padding-block: 4rem;"
        transition:animate={slide({ duration: '0.5s' })}
        transition:name="page"
    >
        <div flex flex-column flex-items-center gap-3 style="margin-bottom: 4rem;" transition:name="logo-wrapper">
            <Logo transition:name="logo" />
            <h2 transition:name="logo-text" font-400>{greeting}</h2>
        </div>
        <slot />
        <a href={back} style={{ marginTop: '2rem' }} transition:name="back" underline>Tilbage</a>
    </main>
</GlobalLayout>
