---
import { ViewTransitions } from 'astro:transitions'

import '@/fonts/montserrat.css'
import '@/css/preset.css'
import '../styles/index.css'
import '../styles/theme.css'

const { title } = Astro.props
---

<html lang="da">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body select-none>
        <slot />
    </body>
</html>
