.modal {
    width: 100%;
    max-width: 700px;
    height: 350px;
    background: var(--primary-background-color);
    margin: auto;
    border-radius: 1em;
    padding: 2em 3em;
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
}
