---
import { Button, Text, Field, Label, Form } from '@resolut/solid'

import AuthenticationLayout from '@/nexus/client/layouts/auth.astro'
---

<AuthenticationLayout title="Nexus - Login" greeting="Velkommen tilbage" back="/">
    <Form flex vertical width="32rem" center gap="2rem">
        <Field flex vertical gap="0.5rem" stretch>
            <Label required>E-mail</Label>
            <Text elevated type="email" stretch required />
        </Field>
        <Field flex vertical gap="0.5rem" stretch>
            <Label required>Adgangskode</Label>
            <Text elevated type="password" stretch required />
        </Field>
        <Button submit stretch transition:name="primary-button">Login</Button>
    </Form>
</AuthenticationLayout>
