.logo {
    display: grid;
}

.name {
    font-weight: 600;
    font-size: 1.25rem;
}

.denmark {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.875rem;
    margin-inline: auto;
}
