.select {
    appearance: none;
    padding-left: 1em;
    flex-shrink: 0;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
    background: transparent;
    height: 2rem;
    border-radius: 0.25rem;
    width: 100%;
}

.select::-ms-expand {
    display: none;
}

.wrapper {
    position: relative;
}

.wrapper::after {
    bottom: 50%;
    transform: translateY(-50%);
    right: 0.8em;
    content: '';
    position: absolute;
    width: 0.7em;
    height: 0.375em;
    background-color: rgba(0, 0, 0, 0.5);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
