.filter {
    text-align: left;
    width: 20rem;
    height: 2rem;
    padding-inline: 1rem;
    font-weight: 700;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: url('../../../public/icons/filter.svg');
    background-repeat: no-repeat;
    background-position: right 0.7em top 50%;
    background-size: 1.25em auto;
}
