---
import OnboardingLayout from '../../layouts/onboarding.astro'
---

<OnboardingLayout title="Nexus - opstart">
    <main flex flex-direction:column flex:center gap="5rem">
        <div flex flex-direction:column align-items:center gap="1rem">
            <h1 font-size="3rem">Lad os hjælpe dig hurtigt igang</h1>
            <p width="100%" max-width="500px" text-align:center font-size="1rem">
                Vælg om du vil oprette en ny virksomhed eller forbinde til en eksisterende
            </p>
        </div>
        <div flex gap="4rem">
            <div
                cursor:pointer
                position:relative
                width="300px"
                height="250px"
                flex
                flex-direction:column
                flex:center
                gap="0.5rem"
            >
                <input
                    position:absolute
                    inset="0"
                    border-radius="0.5rem"
                    border-grey-200
                    cursor:pointer
                    appearance:none
                    type="radio"
                    id="join"
                    name="onboarding-option"
                />
                <svg xmlns="http://www.w3.org/2000/svg" height="96" viewBox="0 -960 960 960" width="96">
                    <path
                        d="M176.923-740v-40h606.154v40H176.923ZM180-180v-240h-49.231v-40l46.154-200h606.154l46.154 200v40H780v240h-40v-240H540v240H180Zm40-40h280v-200H220v200Zm-48.769-240h617.538-617.538Zm0 0h617.538l-37.077-160H208.308l-37.077 160Z"
                    ></path>
                </svg>
                <h4>Forbind</h4>
            </div>
            <div
                cursor:pointer
                position:relative
                width="300px"
                height="250px"
                flex
                flex-direction:column
                flex:center
                gap="0.5rem"
            >
                <input
                    position:absolute
                    inset="0"
                    border-radius="0.5rem"
                    border-grey-200
                    cursor:pointer
                    appearance:none
                    checked
                    type="radio"
                    id="create"
                    name="onboarding-option"
                />
                <svg xmlns="http://www.w3.org/2000/svg" height="96" viewBox="0 -960 960 960" width="96">
                    <path
                        d="M720-80v-120H600v-40h120v-120h40v120h120v40H760v120h-40ZM129.23-180v-240H80v-40l46.154-200h547.692L720-460v40h-49.231v130.769h-40V-420H449.231v240H129.23Zm40.001-40H409.23v-200H169.231v200Zm-48.769-240h559.076-559.076Zm5.692-280v-40h547.692v40H126.154Zm-5.692 280h559.076l-37.077-160H157.538l-37.076 160Z"
                    ></path>
                </svg>
                <h4>Opret</h4>
            </div>
        </div>
        <a
            href="/onboarding/create"
            btn-primary-bg
            btn-primary-text
            width="24rem"
            height="3rem"
            elevated
            id="link"
            transition:name="primary-button"
            transition:persist
        >
            Opret
        </a>
    </main>
</OnboardingLayout>
<style>
    input:checked {
        border-color: #155afe;
    }

    main {
        height: calc(100vh - 88px);
    }
</style>
<script>
    document.addEventListener('astro:page-load', () => {
        const create = document.getElementById('create') as HTMLInputElement
        const join = document.getElementById('join') as HTMLInputElement
        const link = document.getElementById('link') as HTMLAnchorElement

        if (!create || !join || !link) {
            return
        }

        create.addEventListener('click', () => {
            link.href = '/onboarding/create'
            link.textContent = 'Opret'
        })

        join.addEventListener('click', () => {
            link.href = '/onboarding/join'
            link.textContent = 'Forbind'
        })
    })
</script>
