---

---

<nav bg-white elevated width="100%" height="3.5rem" padding-inline="4rem">
    <ul flex height="100%" gap="2rem" flex align-items:center class="list">
        <li>
            <a href="/dashboard">Overblik</a>
        </li>
        <li>
            <a href="/dashboard/orders">Ordrer</a>
        </li>
        <li>
            <a href="/dashboard/products">Produkter</a>
        </li>
        <li>
            <a href="/dashboard/employees">Medarbejdere</a>
        </li>
        <li>
            <a href="/dashboard/website">Hjemmeside</a>
        </li>
        <li>
            <a href="/dashboard/bookkeeping">Bogføring</a>
        </li>
        <li>
            <a href="/dashboard/customers">Kundekartotek</a>
        </li>
    </ul>
</nav>
<style>
    .list li a {
        padding: 6px 20px;
        border-radius: 1rem;
        display: grid;
        place-items: center;
        font-weight: 500;
    }

    .list li a.active {
        background: #625afa;
        color: #fff;
    }
</style>
<script>
    const listener = () => {
        const links = (document.querySelector('nav') as HTMLElement).querySelectorAll('a')

        links.forEach((link) => {
            const url = link.getAttribute('href')
            if (url !== null && window.location.pathname.includes(url)) {
                if (url === '/dashboard') {
                    if (window.location.pathname === '/dashboard') {
                        link.classList.add('active')
                    }
                } else link.classList.add('active')
            }
        })
    }

    document.addEventListener('keydown', (event) => {
        if (event.key === '1' && event.ctrlKey) {
            window.location.href = '/dashboard'
        }

        if (event.key === '2' && event.ctrlKey) {
            window.location.href = '/dashboard/orders'
        }

        if (event.key === '3' && event.ctrlKey) {
            window.location.href = '/dashboard/products'
        }

        if (event.key === '4' && event.ctrlKey) {
            window.location.href = '/dashboard/employees'
        }

        if (event.key === '5' && event.ctrlKey) {
            window.location.href = '/dashboard/website'
        }

        if (event.key === '6' && event.ctrlKey) {
            window.location.href = '/dashboard/bookkeeping'
        }

        if (event.key === '7' && event.ctrlKey) {
            window.location.href = '/dashboard/customers'
        }

        if (event.key === '8' && event.ctrlKey) {
            window.location.href = '/dashboard/settings'
        }
    })

    document.addEventListener('astro:after-swap', listener)
    document.addEventListener('DOMContentLoaded', listener)
</script>
