:root {
    --primary-background-color: #ffffff;
    --secondary-background-color: #155afe;

    --primary-text-color: #000000;
    --secondary-text-color: #ffffff;
}

*[border-grey-200] {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

*[active='true'] {
    background-color: #155afe;
    color: #fff;
}
