.header {
    position: sticky;
    display: grid;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: #fff;
    height: 4rem;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);

    padding-inline: 4rem;
    grid-template-columns: repeat(3, 1fr);
}

.logo {
    margin: auto 0;
}

@media screen and (max-width: 1120px) {
    .header {
        padding: unset;
        grid-template-columns: 4rem 1fr 4rem;
    }

    .logo {
        margin: auto;
    }
}

@media screen and (max-width: 370px) {
    .logo {
        h4 {
            font-size: 0.95rem;
        }
    }
}
