---
import AuthenticationLayout from '@/nexus/client/desktop/layouts/auth.astro'
import { Input } from '../../../components'

const TITLE = 'NEXUS - opret bruger'
const BACK = '/authentication/signup/'
const NEXT = '/authentication/signup/name'
---

<AuthenticationLayout title={TITLE} greeting="Velkommen" back={BACK}>
    <form grid grid-template-columns="repeat(4, 1fr)" grid-template-rows="repeat(4, 1fr)" gap="1.5rem" width="32rem">
        <Input label="E-mail" name="email" column="1 / 5" row="1" />
        <Input label="Landekode" name="country_code" column="1 / 2" row="2" />
        <Input label="Telefonnummer" name="subscriber_number" column="2 / 5" row="2" />
        <Input label="Adgangskode" name="password" column="1 / 5" row="3" />
        <a
            height="3rem"
            width="100%"
            elevated
            btn-primary-bg
            btn-primary-text
            style="grid-column: 1 / 5; grid-row: 4;"
            href={NEXT}
            transition:name="primary-button">Næste</a
        >
    </form>
</AuthenticationLayout>
<script>
    import { $CreateUser } from '@/nexus/client/desktop/stores'
    import { Utils } from '../../../common'

    document.addEventListener('astro:page-load', () => {
        Utils.bindInputsToStore($CreateUser, ['email', 'country_code', 'subscriber_number', 'password'])
    })
</script>
