*[data-stretch='true'] {
    width: 100% !important;
}

*[data-underlined='true'] {
    text-decoration: underline;
}

*[data-elevated='true'] {
    box-shadow: var(--elevation-shadow);
}

*[data-casing='uppercase'] {
    text-transform: uppercase;
}

*[data-casing='lowercase'] {
    text-transform: lowercase;
}

*[data-casing='capitalize'] {
    text-transform: capitalize;
}

*[data-shape='square'] {
    border-radius: 0;
}

*[data-grid='true'] {
    display: grid;
    grid-template-columns: var(--columns, 1fr);
    grid-template-rows: var(--rows, 1fr);
    gap: var(--gap, 0);
}

*[data-flex='true'] {
    display: flex;
    flex-direction: var(--flex-direction, row);
    justify-content: var(--justify-content, flex-start);
    align-items: var(--align-items, flex-start);
    gap: var(--gap, 0);
}
