*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html {
    text-size-adjust: none;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior-y: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
    font: inherit;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

img,
svg,
video {
    display: block;
    max-width: 100%;
}

button {
    font: inherit;
    cursor: pointer;
}

select {
    font-family: inherit;
    cursor: pointer;
}

dialog,
input,
button,
textarea,
select,
input[type='file']::file-selector-button {
    border: none;
    font-family: inherit;
}
