---
import { Button, Paragraph, Heading, Link, Main, Div } from '@resolut/react'
import { Logo } from '@/nexus/client/components/index'
import GlobalLayout from '@/nexus/client/layouts/global.astro'

const TITLE = 'Nexus - Oprettelse'
const BUSINESS = '/authentication/signup/business'
const EMPLOYEE = '/authentication/signup/employee'
---

<GlobalLayout title={TITLE}>
    <Main flex vertical center height="100%" minHeight="100vh" width="100%">
        <Div flex vertical center gap="3rem">
            <Logo transition:name="logo" />
            <Heading medium>Velkommen</Heading>
        </Div>
        <Div flex vertical center gap="2rem" width="32rem" margin="4rem 0 2rem 0">
            <Paragraph>Jeg ønsker at oprette mig som</Paragraph>
            <Button stretch elevated large href={BUSINESS} transition:name="primary-button">Virksomhed</Button>
            <Button stretch elevated secondary large href={EMPLOYEE} transition:name="secondary-button">
                Medarbejder
            </Button>
        </Div>
        <Link href="/" underline>Tilbage</Link>
    </Main>
</GlobalLayout>
