---
import { Logo } from '@/nexus/client/components/index'
import GlobalLayout from '@/nexus/client/layouts/global.astro'

const TITLE = 'Nexus - opret bruger'
const BACK = '/'
const NEXT = '/authentication/signup/credentials'
---

<GlobalLayout title={TITLE}>
    <main flex w-full min-h-screen flex-column flex-center>
        <div transition:name="logo-wrapper" flex flex-column align-center gap-3>
            <Logo transition:name="logo" />
            <h3 transition:name="logo-text">Velkommen</h3>
        </div>
        <div flex flex-column gap-2 w-32 style="margin: 4rem 0 2rem 0;">
            <div flex flex-column gap-1>
                <h4 text-center uppercase>Oplysning</h4>
                <p text-center text-balance>
                    Nexus er stadig under udvikling. Du skal derfor bruge en kode for at oprette en bruger.
                </p>
            </div>
            <a w-full h-3 elevated btn-primary-bg btn-primary-text href={NEXT} transition:name="primary-button">Start</a
            >
            <a href={BACK} underline>Tilbage</a>
        </div>
    </main>
</GlobalLayout>
