---
import AuthenticationLayout from '@/nexus/client/layouts/auth.astro'
import { Input, Select } from '../../../components'

const TITLE = 'Nexus - opret bruger'
const BACK = '/authentication/signup/bank-account'
---

<AuthenticationLayout title={TITLE} greeting="Velkommen" back={BACK}>
    <form grid grid-columns-4 grid-rows-4 w-32 style="gap: 1.5rem;">
        <Input label="Fødselsdato" type="date" name="birthdate" column="1 / 5" row="1" />
        <Select label="Køn" name="gender" column="1 / 5" row="2">
            <option selected value="MALE">Mand</option>
            <option value="FEMALE">Kvinde</option>
        </Select>
        <Input label="Invitationskode" name="invite_code" column="1 / 5" row="3" />
        <button
            type="submit"
            h-3
            elevated
            btn-primary-bg
            btn-primary-text
            w-full
            style="grid-column: 1 / 5; grid-row: 4;"
            transition:name="primary-button">Opret</button
        >
    </form>
</AuthenticationLayout>
<script>
    import { $CreateUser, $User } from '@/nexus/client/stores'
    import { Utils } from '../../../common'

    document.addEventListener('astro:page-load', () => {
        const form = document.querySelector('form') as HTMLFormElement

        if (!form) return

        form.addEventListener('submit', async (event) => {
            event.preventDefault()

            console.log($CreateUser.get())

            const response = await fetch('http://localhost:8080/api/authentication/signup', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                credentials: 'include',
                body: JSON.stringify($CreateUser.get())
            })

            const data: Http.Response<{ token: string; user: Entity.User }> = await response.json()

            if (data.status !== 'success') return console.log(data)

            $CreateUser.reset()

            const { user } = data.body

            $User.set(user)

            window.location.href = '/onboarding'
        })

        Utils.bindInputsToStore($CreateUser, ['birthdate', 'gender', 'invite_code'])
    })
</script>
