---
import { Button, Form, Field, Label, Text } from '@resolut/solid'
import AuthenticationLayout from '@/apps/nexus/client/src/layouts/auth.astro'

const TITLE = 'Nexus - Opret Medarbejder'
const BACK = '/authentication/signup/employee/address'
---

<AuthenticationLayout title={TITLE} greeting="Velkommen" back={BACK}>
    <Form grid columns="repeat(4, 1fr)" rows="repeat(2, 1fr)" gap="2rem" width="32rem">
        <Field flex vertical gap="0.5rem" column="1 / 2" row={1}>
            <Label for="registrationNumber" required>Reg. nr.</Label>
            <Text name="registrationNumber" stretch />
        </Field>
        <Field flex vertical gap="0.5rem" column="2 / 5" row={1}>
            <Label for="accountNumber" required>Kontonummer</Label>
            <Text name="accountNumber" stretch />
        </Field>
        <Field flex vertical gap="0.5rem" column="span-all" row={2}>
            <Label for="activationCode" required>Aktiveringskode</Label>
            <Text name="activationCode" stretch />
        </Field>
    </Form>
    <Button transition:name="primary-button">Opret</Button>
</AuthenticationLayout>
<script>
    import { $CreateEmployee } from '@/nexus/client/stores'

    document.addEventListener('astro:page-load', () => {
        const registrationNumber = document.getElementById('registrationNumber') as HTMLInputElement
        const accountNumber = document.getElementById('accountNumber') as HTMLInputElement

        if (!registrationNumber || !accountNumber) return

        registrationNumber.addEventListener('input', (event) => {
            const target = event.target as HTMLInputElement
            $CreateEmployee.mutate('registrationNumber', target.value)
        })

        accountNumber.addEventListener('input', (event) => {
            const target = event.target as HTMLInputElement
            $CreateEmployee.mutate('accountNumber', target.value)
        })
    })
</script>
