---
import { Button, Form, Field, Label, Text } from '@resolut/solid'

import AuthenticationLayout from '@/apps/nexus/client/src/layouts/auth.astro'

const TITLE = 'NEXUS - Opret medarbejder'
const BACK = '/authentication/signup/employee/name'
const NEXT = '/authentication/signup/employee/address'
---

<AuthenticationLayout title={TITLE} greeting="Velkommen" back={BACK}>
    <Form grid columns="repeat(4, 1fr)" rows="repeat(2, 1fr)" gap="2rem" width="32rem">
        <Field flex vertical gap="0.5rem" column="span-all" row={1}>
            <Label for="email" required>Privat e-mail</Label>
            <Text name="email" stretch />
        </Field>
        <Field flex vertical gap="0.5rem" column="span-all" row={2}>
            <Label for="phoneNumber" required>Privat telefonnummer</Label>
            <Text name="phoneNumber" stretch />
        </Field>
    </Form>
    <Button href={NEXT} transition:name="primary-button">Næste</Button>
</AuthenticationLayout>
<script>
    import { $CreateEmployee } from '@/nexus/client/stores'

    document.addEventListener('astro:page-load', () => {
        const email = document.getElementById('email') as HTMLInputElement
        const phoneNumber = document.getElementById('phoneNumber') as HTMLInputElement

        if (!email || !phoneNumber) return

        email.addEventListener('input', (event) => {
            const target = event.target as HTMLInputElement
            $CreateEmployee.mutate('firstname', target.value)
        })

        phoneNumber.addEventListener('input', (event) => {
            const target = event.target as HTMLInputElement
            $CreateEmployee.mutate('phoneNumber', target.value)
        })
    })
</script>
