---
import { Heading, Paragraph, Button, Link, Main, Div } from '@resolut/react'
import { Logo } from '@/nexus/client/components/index'
import GlobalLayout from '@/apps/nexus/client/src/layouts/global.astro'

const TITLE = 'Nexus - opret medarbejder'
const BACK = '/authentication/signup'
const NEXT = '/authentication/signup/employee/name'
---

<GlobalLayout title={TITLE}>
    <Main flex width="100%" minHeight="100vh" vertical center>
        <Div flex vertical align:center gap="3rem">
            <Logo transition:name="logo" />
            <Heading>Velkommen</Heading>
        </Div>
        <Div flex vertical gap="2rem" width="32rem" margin="4 rem 0 2rem 0">
            <Div flex vertical gap="1rem">
                <Heading uppercase subsection>Oplysning</Heading>
                <Paragraph>
                    Du skal bruge en aktiveringskode fra din arbejdsgiver for at kunne oprette dig. Har du ikke modtaget
                    en, skal du kontakte din arbejdsgiver, før du kan oprette dig her på siden.
                </Paragraph>
            </Div>
            <Button stretch href={NEXT} transition:name="primary-button">Start</Button>
            <Link href={BACK}>Tilbage</Link>
        </Div>
    </Main>
</GlobalLayout>
