---
import { Button, Form, Field, Label, Text } from '@resolut/solid'
import AuthenticationLayout from '@/apps/nexus/client/src/layouts/auth.astro'

const TITLE = 'Nexus - opret medarbejder'
const BACK = '/authentication/signup/employee'
const NEXT = '/authentication/signup/employee/contacts'
---

<AuthenticationLayout title={TITLE} greeting="Velkommen" back={BACK}>
    <Form grid columns="repeat(4, 1fr)" rows="repeat(2, 1fr)" gap="2rem" width="32rem">
        <Field flex vertical gap="0.5rem" row={1} column="span-all">
            <Label for="firstname" required>Fornavn</Label>
            <Text name="firstname" stretch />
        </Field>
        <Field flex vertical gap="0.5rem" row={2} column="span-all">
            <Label for="surname" required>Efternavn</Label>
            <Text name="surname" stretch />
        </Field>
    </Form>
    <Button href={NEXT} stretch transition:name="primary-button" transition:persist>Næste</Button>
</AuthenticationLayout>
<script>
    import { $CreateEmployee } from '@/nexus/client/stores'

    document.addEventListener('astro:page-load', () => {
        const firstname = document.getElementById('firstname') as HTMLInputElement
        const surname = document.getElementById('surname') as HTMLInputElement

        if (!firstname || !surname) return

        firstname.addEventListener('input', (event) => {
            const target = event.target as HTMLInputElement
            $CreateEmployee.mutate('firstname', target.value)
        })

        surname.addEventListener('input', (event) => {
            const target = event.target as HTMLInputElement
            $CreateEmployee.mutate('surname', target.value)
        })
    })
</script>
