*[margin-inline='1.5rem'] {
    margin-inline: 1.5rem;
}

*[margin-left='auto'] {
    margin-left: auto;
}

*[margin-top='1rem'] {
    margin-top: 1rem;
}

*[margin='4rem 0 2rem 0'] {
    margin: 4rem 0 2rem 0;
}

*[margin-bottom='4rem'] {
    margin-bottom: 4rem;
}

*[margin-top='2rem'] {
    margin-top: 2rem;
}

*[margin='auto'] {
    margin: auto;
}

*[margin-left='auto'] {
    margin-left: auto;
}
