---
import { Button, Heading, Main, Div } from '@resolut/solid'

import { Logo } from '@/nexus/client/components/index'
import GlobalLayout from '@/nexus/client/layouts/global.astro'

const TITLE = 'Nexus - Velkommen'
---

<GlobalLayout title={TITLE}>
    <Main flex vertical center gap="4rem" width="100%" minHeight="100vh" height="100%">
        <Logo transition:name="logo" />
        <Div flex vertical gap="2rem" padding="0 4rem">
            <Heading section fluid center secondary>Skab overblik for dig og dine medarbejdere</Heading>
            <Heading heading fluid center maxWidth="1150px">En samlet applikation til din virksomhed</Heading>
            <Heading section fluid center secondary>Administrer hjemmeside, ordrer, løn og bogføring i en app</Heading>
        </Div>
        <Div height="128px" flex horizontal center gap="4rem">
            <Button round href="/authentication/signin" transition:name="primary-button">Login</Button>
            <Button secondary elevated round href="/authentication/signup" transition:name="secondary-button">
                Opret
            </Button>
        </Div>
    </Main>
</GlobalLayout>
