---
import { Logo } from '@/nexus/client/components/index'
import GlobalLayout from '@/nexus/client/layouts/global.astro'

const TITLE = 'Nexus - Velkommen'
---

<GlobalLayout title={TITLE}>
    <main flex flex-column flex-center gap-4 w-full min-h-screen h-full>
        <Logo transition:name="logo" />
        <div flex flex-column gap-2 style="padding-inline: 4rem;">
            <h4 font-300 text-center>Skab overblik for dig og dine medarbejdere</h4>
            <h1 font-size-3 style="max-width: 1150px;" text-balance text-center>
                En samlet applikation til din virksomhed
            </h1>
            <h4 font-300 text-center>Administrer hjemmeside, ordrer, løn og bogføring i en app</h4>
        </div>
        <div style="height: 128px;" flex flex-row flex-center gap-4>
            <a
                btn-primary-bg
                btn-primary-text
                elevated
                style="width: 24rem; height: 3rem; border-radius: 1.5rem;"
                href="/authentication/signin"
                transition:name="primary-button">Login</a
            >
            <a
                btn-secondary-bg
                btn-secondary-text
                elevated
                style="width: 24rem; height: 3rem; border-radius: 1.5rem;"
                href="/authentication/signup"
                transition:name="secondary-button"
            >
                Opret</a
            >
        </div>
    </main>
</GlobalLayout>
