.resolut-button {
    &[data-color='primary'] {
        background: var(--button-primary-background-color);
        color: var(--button-primary-text-color);
    }

    &[data-color='secondary'] {
        background: var(--button-secondary-background-color);
        color: var(--button-secondary-text-color);
    }

    &:disabled {
        background: var(--button-disabled-background-color);
        color: var(--button-disabled-text-color);
        box-shadow: none;
        cursor: not-allowed;
    }

    &[data-size='small'] {
        font-size: 0.75rem;

        &[data-sizing='fixed'] {
            width: 4rem;
            height: 2rem;

            &[data-wide='true'] {
                width: 8rem;
            }

            &[data-shape='round'] {
                border-radius: 1rem;
                width: 2rem;
            }

            &[data-shape='rounded'] {
                border-radius: 0.25rem;
            }

            &[data-shape='circle'] {
                width: 2rem;
            }
        }

        &[data-sizing='relative'] {
            height: 2em;
            padding-inline: 1em;

            &[data-wide='true'] {
                width: 2em;
            }

            &[data-shape='round'] {
                border-radius: 1em;
            }

            &[data-shape='rounded'] {
                border-radius: 0.25em;
            }

            &[data-shape='circle'] {
                width: 2em;
                padding-inline: 0;
            }
        }
    }

    &[data-size='medium'] {
        font-size: 1rem;

        &[data-sizing='fixed'] {
            width: 8rem;
            height: 2.5rem;

            &[data-wide='true'] {
                width: 16rem;
            }

            &[data-shape='round'] {
                border-radius: 1.25rem;
            }

            &[data-shape='rounded'] {
                border-radius: 0.33rem;
            }

            &[data-shape='circle'] {
                width: 2.5rem;
            }
        }

        &[data-sizing='relative'] {
            height: 2.5em;
            padding-inline: 1.5em;

            &[data-wide='true'] {
                width: 3em;
            }

            &[data-shape='round'] {
                border-radius: 1.25em;
            }

            &[data-shape='rounded'] {
                border-radius: 0.33em;
            }

            &[data-shape='circle'] {
                width: 2.5em;
                padding-inline: 0;
            }
        }
    }

    &[data-size='large'] {
        font-size: 1.25rem;

        &[data-sizing='fixed'] {
            width: 12rem;
            height: 3rem;

            &[data-wide='true'] {
                width: 24rem;
            }

            &[data-shape='round'] {
                border-radius: 1.5rem;
            }

            &[data-shape='rounded'] {
                border-radius: 0.5rem;
            }

            &[data-shape='circle'] {
                width: 3rem;
            }
        }

        &[data-sizing='relative'] {
            height: 3em;
            padding-inline: 2em;

            &[data-shape='round'] {
                border-radius: 1.5em;
            }

            &[data-shape='rounded'] {
                border-radius: 0.5em;
            }

            &[data-shape='circle'] {
                width: 3em;
                padding-inline: 0;
            }
        }
    }

    &[data-shape='circle'] {
        border-radius: 50%;
    }
}
