.resolut-typography {
    text-wrap: balance;

    &[data-variant='heading1'] {
        font-weight: 700;
        font-size: 6rem;
    }

    &[data-variant='heading2'] {
        font-weight: 600;
        font-size: 2rem;
    }

    &[data-variant='heading3'] {
        font-weight: 500;
        font-size: 1.5rem;
    }

    &[data-variant='heading4'] {
        font-weight: 400;
        font-size: 1.25rem;
    }

    &[data-variant='paragraph1'] {
        font-weight: 400;
        font-size: 1.25rem;
    }

    &[data-variant='paragraph2'] {
        font-weight: 400;
        font-size: 1rem;
    }

    &[data-variant='caption1'] {
        font-weight: 400;
        font-size: 1rem;
    }

    &[data-variant='caption2'] {
        font-weight: 300;
        font-size: 0.925rem;
    }

    &[data-color='primary'] {
        color: var(--typography-primary-color);
    }

    &[data-color='secondary'] {
        color: var(--typography-secondary-color);
    }
}
